<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

    <title>About Me | Vu Nguyen | Ojo</title>
</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <div class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Our Skills</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Our courses</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Enroll form</a></li>
            </ul>
        </div>
    </div>

    <header class="header">
        <div class="header__logo-box">
            <img src="/img/logo.png" class="header__logo" alt="logo">
        </div>
        <div class="header__text-box">
            <h3 class="heading-primary">
                <span class="heading-primary--main">My Space</span>
                <span class="heading-primary--sub">Life, Work and Play</span>
            </h3>
            <a href="#" class="btn btn--white btn--animated">See my profile</a>
        </div>
    </header>

    <div class="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">Story about me</h2>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    from then to now
                </h3>
                <p class="paragraph">
                    Spider-Man, comic-book character who was the original everyman superhero.
                    In Spider-Man’s first story, in Marvel Comics’ Amazing Fantasy, no. 15 (1962),
                    American teenager Peter Parker, a poor sickly orphan, is bitten by a radioactive spider.
                    As a result of the bite, he gains superhuman strength, speed, and agility along with
                    the ability to cling to walls.
                </p>
                <h3 class="heading-tertiary u-margin-bottom-small">
                    master your skills
                </h3>
                <p class="paragraph">
                    In addition to enhanced speed and strength,
                    Parker also possessed a precognitive “spider sense” that alerted him to approaching dangers.
                </p>
                <a href="#" class=btn-text>Learn more &rarr;</a>
            </div>

            <div class="col-1-of-2">
                <div class="composition">
                    <img src="/img/photo1.jpg" alt="photo1" class="composition__photo composition__photo--p1">
                    <img src="/img/photo2.JPG" alt="photo2" class="composition__photo composition__photo--p2">
                    <img src="/img/photo3.JPG" alt="photo3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </div>

    <section class="section-skills">
        <div class="row">
            <div class="col-1-of-4">
                <div class="skill-box">
                    <i class="skill-box__icon fas fa-hourglass-half"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Language Skill</h3>
                    <div class="skill-box__text">
                        Write something about your language skill
                    </div>
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="skill-box">
                    <i class="skill-box__icon fas fa-hourglass-half"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Study</h3>
                    <div class="skill-box__text">
                        Write something about your school, major, favourite subjects,...
                    </div>
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="skill-box">
                    <i class="skill-box__icon fas fa-hourglass-half"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Experiences</h3>
                    <div class="skill-box__text">
                        Write something related to your outside activities, researches,...
                    </div>
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="skill-box">
                    <i class="skill-box__icon fas fa-hourglass-half"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Archivements</h3>
                    <div class="skill-box__text">
                        Write something about your works, liences,...
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-courses" id="section-courses">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                our courses
            </h2>
        </div>
        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                            <!--Ky tu rong-->
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">
                                control <br> your time
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>20 hours</li>
                                <li>5000 students</li>
                                <li>5 star rated</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card_cta">
                            <div class="card__price-box">
                                <p class="card__price-only">
                                    Only
                                </p>
                                <p class="card__price-value">
                                    $16
                                </p>
                                <a href="#popup" class="btn btn--white">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                            <!--Ky tu rong-->
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">
                                make <br> mindmap
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>20 hours</li>
                                <li>5000 students</li>
                                <li>5 star rated</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card_cta">
                            <div class="card__price-box">
                                <p class="card__price-only">
                                    Only
                                </p>
                                <p class="card__price-value">
                                    $16
                                </p>
                                <a href="#popup" class="btn btn--white">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                            <!--Ky tu rong-->
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">
                                make <br> your target
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>20 hours</li>
                                <li>5000 students</li>
                                <li>5 star rated</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card_cta">
                            <div class="card__price-box">
                                <p class="card__price-only">
                                    Only
                                </p>
                                <p class="card__price-value">
                                    $16
                                </p>
                                <a href="#popup" class="btn btn--white">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="u-center-text">
            <a href="#" class="btn btn--green">See all our courses</a>
        </div>
    </section>

    <section class="section-test">

        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="/img/video1.MOV" type="video/mp4">
                <source src="/img/video.MOV" type="video/webm">
                Your browser is not supported
            </video>
        </div>
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                testimonials
            </h2>
        </div>
        <div class="row">
            <div class="testimonial">
                <figure class="testimonial__shape">
                    <img src="/img/portrait1.jpeg" alt="person-photo1" class="testimonial__img">
                    <figcaption class="testimonial__caption">
                        Tom Cruise
                    </figcaption>
                </figure>
                <div class="testimonial__text">
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        very helpful courses
                    </h3>
                    <p>
                        the description of the users of the courses
                        the description of the users of the courses
                        the description of the users of the courses
                        the description of the users of the courses
                        the description of the users of the courses
                    </p>
                </div>
            </div>
            <div class="testimonial">
                <figure class="testimonial__shape">
                    <img src="/img/portrait2.jpeg" alt="person-photo2" class="testimonial__img">
                    <figcaption class="testimonial__caption">
                        Cristinao Ronaldo
                    </figcaption>
                </figure>
                <div class="testimonial__text">
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        very helpful courses
                    </h3>
                    <p>
                        the description of the users of the courses
                        the description of the users of the courses
                        the description of the users of the courses
                        the description of the users of the courses
                        the description of the users of the courses
                    </p>
                </div>
            </div>
        </div>
        <div class="u-center-text u-margin-bottom-big u-margin-top-big">
            <a href="#" class="btn-text">read all the testimonials &rarr;</a>
        </div>
    </section>

    <!-- <section class="section-enroll">
        <div class="row">
            <div class="enroll">
                <div class="enroll_form">
                    <form class="form">
                        <div>
                            <h2 class="heading-secondary">
                                enroll now
                            </h2>
                        </div>
                        <div class="form__group">
                            <input type="text" id="name" class="form__input" placeholder="full name" required>
                            <label for="name" class="form__label">Full name</label>
                        </div>
                        <div class="form__group">
                            <input type="email" id="email" class="form__input" placeholder="email" required>
                            <label for="email" class="form__label">Email</label>
                        </div>
                        <div class="form__group">
                            <div class="form__radio-group">
                                <input type="radio" id="male" class="form__raido-input" name="gender">
                                <label for="male" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                        Male
                                </label>
                            </div>
                            <div class="form__radio-group">
                                <input type="radio" id="female" class="form__raido-input" name="gender">
                                <label for="female" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                        Female
                                </label>
                            </div>
                        </div>
                        <div class="form__group">
                            <button class="btn btn--green"> 
                                Submit &rarr;
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->

    <footer class="footer">
        <div class="footer__logo-box">
            <img src="/img/logo.png" class="footer__logo" alt="logo">
            <h3 class="heading-secondary footer__title">
                Ojo
            </h3>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Address</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Contacts</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Sponsors</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-1-of-2">
                <p class="footer__copyright">
                    Copyright &copy; by Ojo.
                </p>
            </div>
        </div>
    </footer>

    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="popup__left">
                <img src="/img/shoot1.png" alt="shoot photo" class="popup__img">
                <img src="/img/shoot.jpg" alt="shoot photo" class="popup__img">
            </div>
            <div class="popup__right">
                <a href="#section-courses" class="popup__close">&times;</a>
                <h2 class="heading-secondary u-margin-bottom-small">Enroll now</h2>
                <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Pleases read these</h3>
                <p class="popup__text">
                    the description of the users of the courses
                    the description of the users of the courses
                    the description of the users of the courses
                    the description of the users of the courses
                    the description of the users of the courses
                </p>
                <a href="#" class="btn btn--green">Enroll now</a>
            </div>
        </div>
    </div>

</body>

</html>