<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <title>Login | Vunt</title>
</head>

<body>
    <div class="wrapper">
        <div class="container main">
            <form action="/register" method="POST">
                <div class="row">
                    <div class="col-md-6 side-image">
                        <!------image------>
                        <div class="text">
                            <p>Join with me <i>Vunt</i></p>
                        </div>
                    </div>
                    <div class="col-md-6 right">
                        <div class="input-box">
                            <header>Register</header>
                            <div class="input-field">
                                <% if(alert!=null) {%> 
                                    <%if (alert == "Sign-up successful!!!") {%>
                                        <span class="textSuccess">
                                        <%=alert%>
                                        </span>
                                    <% } else { %>
                                        <span class="textFail">
                                            <%=alert%>
                                        </span>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="input-field">
                                <input type="text" class="input" id="username" name="username" required
                                    autocomplete="off">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field">
                                <input type="text" name="email" class="input" id="email" required autocomplete="off">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input type="password" name="password" class="input" id="password" required>
                                <label for="password">Password</label>
                            </div>
                            <!-- <div class="input-checkbox">
                            <input type="checkbox" class="checkbox" id="checkbox">
                            <label for="checkbox">Remember me</label>
                        </div> -->
                            <div class="input-field">
                                <button class="submit" type="submit">
                                    Sign up
                                </button>
                            </div>
                            <!-- <div class="signin right">
                            <span><a href="#">Forgot password?</a></span>
                        </div> -->
                            <div class="signin">
                                <span>Already have an account?<a href="/login">Login here</a></span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</body>

</html>