.section-about{
    background-color: $color-grey-light-1;
    padding: 30rem 0;
    margin-top: -25rem;

    @include respond(phone){
        padding: 20rem 0;
        margin-top: -40rem;
    }
}

.section-skills{
    background-image: linear-gradient(to right bottom, 
    rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
    url("../img/bg.JPG");
    background-size: cover;
    position: relative;
    padding: 20rem 0;
    margin-top: -25rem;
    clip-path: ellipse(70% 50% at 50% 50%);
    margin-top: -20rem;
}

.section-courses{
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -20rem;
}

.section-test{
    position: relative;
    padding: 5rem 0;
}

.section-enroll{
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.enroll {
    background-image: 
     radial-gradient( 150% 200% ellipse at -25%,
         rgba($color-white, .8) 50%,
         transparent 50%);
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    border-radius: 5rem;
    height: 50rem;

    &__form{
        padding: 6rem;
        width: 50%;
        float: left;
    }

    &__comment{
        float: right;
        width: 50%;
        margin-top: 6rem;
        overflow-y: auto;
        height: 400px;

        &--author{
            color: #bedb39; 
            font-size: 1.8rem;
            font-weight: bolder;
        }
    }
}