.testimonial{
    width: 80%;
    padding: 6rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: .15);
    font-size: $default-font-size;
    border-radius: 100rem;
    background-color: rgba($color: $color-white, $alpha: .5);
    padding-left: 9rem;

    @include respond(tab-port) {
        width: 140%;
        margin-left: -20%;
    }

    @include respond(phone) {
        width: 100%;
        margin-left: auto;
    }

    &__shape{
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        position: relative;

        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem);
        margin-top: -1rem;

        shape-outside: circle(50% at 50% 50%);
    }

    &__img{
        width: 100%;
        // transform: translateY(-2rem);
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img{
        filter: blur(.5rem) brightness(70%);
        transform: scale(1.05);
    }
}